{% extends 'base/navbar.html' %}
{% load static %}
{% block addtionalstyles %}
<link rel="stylesheet" href="{% static 'product/css/checkout.css' %}">

<!--phone country code functionality-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

{% endblock addtionalstyles %}

{% block content %}

<div class="row">
    <!--Order Details-->
    <div class="col-lg-6">
        <div class="box-element">

            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}

            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}" alt="product image"></div>
                <div style="flex:2">
                    <p>{{item.product.name}}</p>
                </div>
                <div style="flex:1">
                    <p>Tk {{item.product.price|floatformat:2}}</p>
                </div>
                <div style="flex:1">
                    <p>x{{item.quantity}}</p>
                </div>
                <div style="flex:1">
                    <p>Tk {{item.get_total|floatformat:2}}</p>
                </div>
            </div>
            {% endfor %}
            <h5>Items: {{order.get_cart_items}}</h5>
            <h5>Total: Tk {{order.get_cart_total|floatformat:2}}</h5>

        </div>
    </div>
    <!--shiping details-->
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form" action="" method="post">
                {% csrf_token %}
                <!--Digital products-->
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>
                </div>

                <!--physical product that requires shipping-->
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input required class="form-control" type="tel" id="phone" name="phone" placeholder="Phone no."
                            value="">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State.../Division..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code../Post code..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="Country..">
                    </div>
                    <div style="padding: 5px;" class="col-12">
                        <input class="form-control" type="text" name="additionalInfo"
                            placeholder="Additional Information..">
                    </div>
                </div>

                <hr>
                <input id="form-button" class="btn btn-success col-12" type="submit" value="Continue">
                <br>
                <div class="box-element hidden" id="payment-info">
                    <small>Payment Options</small>

                    <hr>
                    <div class="payment-method col-12">

                        <h5>Cash on delivery</h5>
                        <label class="switch">
                            <input type="radio" name="paymentMethod" value="Cash on delivery" checked>
                            <span class="slider round"></span>
                        </label>

                    </div>

                    <div class="payment-method col-12">

                        <h5>SSLCommerz</h5>
                        <label class="switch">
                            <input type="radio" name="paymentMethod" value="SSLCommerz">
                            <span class="slider round"></span>
                        </label>

                    </div>

                    <input id="form-button" class="btn btn-success col-12" type="submit" name="place-order"
                        value="Place Order"></input>
                </div>
            </form>
        </div>

    </div>

</div>

<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>

<!--Make the plugin location-aware-->
<!--https://www.twilio.com/blog/international-phone-number-input-html-javascript-->

<script type="text/javascript">
    var shipping = '{{order.shipping}}'

    if (shipping == 'False') {
        document.getElementById('shipping-info').innerHTML = ''
    }

    var form = document.getElementById('form')
    form.addEventListener('submit', function (e) {
        //e.preventDefault()
        if (document.getElementById('form-button').classList.contains("hidden")) {

            console.log('Form Submitted...')
        } else {
            e.preventDefault()
            const phoneNumber = phoneInput.getNumber();
            document.getElementById('phone').value = phoneNumber;

            document.getElementById('form-button').classList.add("hidden");
            document.getElementById('payment-info').classList.remove("hidden");
        }
    })
</script>


{% endblock content %}