{% extends 'base/navbar.html' %}
{% load static %}
{% block addtionalstyles %}
<link rel="stylesheet" href="{% static 'product/css/product.css' %}">

{% endblock addtionalstyles %}



{% block content %}

<main>

    <div class="row justify-content-center justify-content-sm-start">

        {% for product in products %}

        <div class="col-lg-4 col-md-6 col-sm-6 col-7">

            <img src="{{product.imageURL}}" alt="product image" class="thumbnail">

            <div class="box-element product">
                <h6 class="product-name"><strong>{{product.name}}</strong></h6>
                <hr>
                <div class="">
                    <button class="btn btn-outline-secondary add-btn justify-content-start">Add to Cart</button>
                    <a class="btn btn-outline-success justify-content-start " href="#">View </a>
                    <h5 class="product-price justify-content-end"><strong>Tk {{product.price|floatformat:2}}</strong>
                    </h5>

                </div>
            </div>


        </div>

        {% endfor %}


    </div>

</main>



{% endblock content %}