{% extends 'base/navbar.html' %}


{% block content %}

<h1>Say home hello world</h1>

<h1 hidden-md-down>Hello, world!</h1>

<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
    praesentium corrupti numquam! Repellat maxime quos nobis vitae,
    quasi delectus praesentium dicta sequi provident natus quo molestiae
    aliquam saepe doloribus animi!
</p>

<br />
<br />
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
    praesentium corrupti numquam! Repellat maxime quos nobis vitae,
    quasi delectus praesentium dicta sequi provident natus quo molestiae
    aliquam saepe doloribus animi!
</p>

<br />
<br />
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
    praesentium corrupti numquam! Repellat maxime quos nobis vitae,
    quasi delectus praesentium dicta sequi provident natus quo molestiae
    aliquam saepe doloribus animi!
</p>

<br />
<br />
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
    praesentium corrupti numquam! Repellat maxime quos nobis vitae,
    quasi delectus praesentium dicta sequi provident natus quo molestiae
    aliquam saepe doloribus animi!
</p>

<br />
<br />
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
    praesentium corrupti numquam! Repellat maxime quos nobis vitae,
    quasi delectus praesentium dicta sequi provident natus quo molestiae
    aliquam saepe doloribus animi!
</p>

<br />
<br />
<br />
<br />
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
    praesentium corrupti numquam! Repellat maxime quos nobis vitae,
    quasi delectus praesentium dicta sequi provident natus quo molestiae
    aliquam saepe doloribus animi!
</p>

<br />
<br />
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
    praesentium corrupti numquam! Repellat maxime quos nobis vitae,
    quasi delectus praesentium dicta sequi provident natus quo molestiae
    aliquam saepe doloribus animi!
</p>

<br />
<br />
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
    praesentium corrupti numquam! Repellat maxime quos nobis vitae,
    quasi delectus praesentium dicta sequi provident natus quo molestiae
    aliquam saepe doloribus animi!
</p>

<br />
<br /><br />
<br />
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
    praesentium corrupti numquam! Repellat maxime quos nobis vitae,
    quasi delectus praesentium dicta sequi provident natus quo molestiae
    aliquam saepe doloribus animi!
</p>

<br />
<br />
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
    praesentium corrupti numquam! Repellat maxime quos nobis vitae,
    quasi delectus praesentium dicta sequi provident natus quo molestiae
    aliquam saepe doloribus animi!
</p>

<br />
<br />
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
    praesentium corrupti numquam! Repellat maxime quos nobis vitae,
    quasi delectus praesentium dicta sequi provident natus quo molestiae
    aliquam saepe doloribus animi!
</p>
<h2>JavaScript Scope</h2>

<p>In HTML, global variables defined with <b>var</b>, will become window variables.</p>

<p id="demo"></p>

<br />
<i class="fas fa-search"></i>
<br />

{% endblock content %}